.partners {
    padding: 55px 0px;
    border-bottom: 1px solid #ebebeb;
}
.partners .partners__title {

}
.partners .partners__pictures {

}
.partners .partners__img-wrap {
    
}
.partners .partners__img {
    max-width: 200px;
    max-height: 100px;
}
